id: lane_change_cut_in
map: Town05
weather: ClearNoon
seed: 42
duration: 30.0
fps: 20
fixed_delta_seconds: 0.05
sync_mode: true
no_rendering_mode: false
ego_vehicle: "vehicle.tesla.model3"

camera:
  width: 1280
  height: 720
  fov: 90.0
  fps: 20
  preset: driver

events:
  voice_lead_time_s: 3.0
  robot_precue_lead_s: 0.5
  min_event_time_s: 5.0
  enabled_types: []
  single_event_types: []

scenario:
  execution_mode: v3
  ego_spawn_index: null
  fast_spawn: false
  cut_in_ahead_m: 12.0
  cut_in_speed_delta: null
  lead_slow_distance_m: 25.0
  lead_slow_speed_delta: 35.0
  background_vehicle_count: 20
  background_walker_count: 12
  background_min_distance_m: 20.0
  prewarm_seconds: 1.0

  events:
    - id: cut_in_01
      type: cut_in
      actor: cut_in_vehicle
      trigger:
        all:
          - {metric: gap_m, op: "<=", value: 18}
          - {metric: ttc_s, op: "<=", value: 3.0}
      action:
        tm:
          speed_diff_pct: -10
          auto_lane_change: false
        execute:
          force_lane_change: left
        post:
          auto_lane_change: true
          distance_to_leading_vehicle_m: 5.0
      fallback:
        controller_override_window_s: 2.0
        lane_change_profile: quintic
      gate_min_ttc_s: 1.0
      gate_max_gap_m: 20.0
